<div class="courses-save">
    <h3>Lưu video</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Tên video</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Miêu tả</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="videoID">Id Video</label>
            <input type="text" class="form-control" id="videoID" name="videoID">
        </div>
        <div class="form-group">
            <label for="videoID">Chủ đề</label>
            <input type="text" class="form-control" id="category" name="category">
        </div>
        <div class="form-group">
            <label for="level">Nguồn</label>
            <input type="text" class="form-control" id="copyright" name="copyright">
        </div>
        <button type="submit" class="btn">Thêm video</button>
    </form>
</div>