<header class="header">
  <div class='nav-bar container'>
    <ul>
      <li><a class="header-link" href="/">Trang chủ</a></li>
      <li><a class="header-link" href="/courses/create">Lưu khoá học</a></li>
      <li><a class="header-link" href="/me/stored/courses">Danh sách khoá học</a></li>
    </ul>
  </div>
</header>  